html {
    height: 100%;
}

body {
    background: url('/media/bg_4.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Montserrat", sans-serif;
    padding:30px;
}

h4 {
    line-height: 2.0rem;
}

hr {
    border: outset 3px #003366;
    border-radius: 50%;
}

textarea {
    width: 100%;
}

#index {
    background: url('/media/birds_3.png') top -120px right -200px fixed;
    /* background-size: cover; */
}

#topnav {
    background-color: #003366;    
}

#main-nav {
    background-color: teal;
    margin-right: -22px !important;
    padding: 10px 0;
}

#contact-form {
    background-color: rgba(225,235,235,0.9);
    height: fit-content;
    padding: 25px 15px;
    border-radius: 25px;
    margin-bottom: 36px;
}

.header-container {
    padding-top: 184px;
}

.navbar-dark {
    padding-left: 0;
}

.navbar-expand-lg {
    margin-left: -20px !important;
    width: 100% !important;
}

.nav-item {
    font-size: 1.1rem;
}

.nav-link {
    text-align: left;
}

a.text-white:hover {
    color: #c1f7e3 !important;
}

.eg-font {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: bold;
}

.logo {
    margin-top: 0;
    padding-top: 0;
    height: 6.5rem;
    width: 6.5rem;
}

.icon-nav {
    color: #fff;
}

.list-inline-item p:hover,
.list-inline-item .icon-nav:hover {
    color: #c1f7e3 !important;
    text-align: left;
}

.navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1.2rem;
    border-color: rgba(255, 255, 255, .5);
}

/* .navbar-toggler-icon {
    color: white;
    background-color: white;
} */

.fas:hover,
.turquoise-hover:hover {
    color: turquoise;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.bg-custom-dark {
    background-color: #003366;
}

.larger-title {
    font-size: 2.8rem;
}

.charmonman-regular {
    font-family: "Charmonman", cursive;
    font-weight: 400;
    font-style: normal;
  }

.charmonman-title {
    font-family: "Charmonman", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}
  
.charmonman-bold {
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
}

.text-dark {
    color: #003366;
}

.logo-link {
    width: fit-content;
    text-align: left !important;
    padding-left: 50px;
}

.dropdown-menu {
    background-color: #c1f7e3;
}

/** BUTTTONS **/
.btn-custom {
    background: #003366;
    color: white;
}

.index-cta-button {
    background-color: #003366;
    color: white;
    min-width: 260px;
}

.index-cta-button:hover,
.index-cta-button:active,
.index-cta-button:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background: #c1f7e3;
    color: #003366;
}

.btn-outline-custom {
    background: white;
    color: #003366 !important; /* use important to override link colors for <a> elements */
    /* border: 1px solid #003366; */
}

.btn-outline-custom:hover,
.btn-outline-custom:active,
.btn-outline-custom:focus {
    background: #003366;
    color: white !important;
}

.text-grey {
    color: #555 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-custom {
    background: #003366 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(240, 255, 255, 0.7);
	z-index: -1;
}

.overlay1 {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: url('/media/birds_3.png') no-repeat center center fixed;
    background-size: cover;
	z-index: -1;
}

.clean-link {
    color: #003366;
    font-size: 1rem; 
}

.clean-link a:hover {
    font-weight: 500;
    text-decoration: none;
}

#sort-selector,
.sort-select-wrapper {
    border-radius: 50px !important;
    height: 40px;
    padding: 0  0 0 15px;
}

.rounded-searchbar {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 50px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 50px !important;
    height: 40px;
    padding: 0  0 0 15px;
}

.rounded-searchicon {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 50px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 50px !important;
    height: 40px;
    padding: 0  0 0 15px;
}


/* service card */
.card{
    margin: 15px;
}

.card,
.card-footer  {
    border-radius: 20px !important;
    border: inset 3px teal;
    min-width: fit-content;
}

.card-body {
    border-radius: 0;
    border-top: solid 2px #003366;
    background-color: teal;
    color: white;
    min-height: 60px;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* max-height: 220px;
    min-height: fit-content;
    min-width: fit-content;
    max-width: fit-content; */
}

.service-name {
    font-size: 2rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: medium solid teal;
    background-color: #003366;
    border-radius: 10px !important;
}

.btt-link {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 13px;
    right: 13px;
    z-index: 999;
    text-decoration: none;
}

a.btt-link:hover {
    text-decoration: none;
}

/* a.type-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
} */


/* BAG */
.img-bag {
    border-bottom-right-radius: 50px !important;
}



/* Allauth form formatting */

.allauth-headings-custom {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 500;
    color: #003366;
    font-size: 3rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #555; /* text-secondary */
}

.allauth-form-inner-content input:not([type='checkbox']) {
    border-color: #003366;
    border-radius: 5px;
    min-width: 280px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #003366;
    border: 2px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px;
    padding: 5px 25px;
    margin: 10px 0 20px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #003366; /* text-info */
    font-weight: 500;
}

.allauth-form-inner-content a:hover {
    text-decoration: none;
    font-weight: 600;
}

/* -------------------------------- Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}


  /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
    }

    
}


@media (max-width: 450px) {
    .header-container {
        padding-top: 250px;
    }

}

