<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li> -->
        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link text-white mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Packs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'individual_services' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'individual_services' %}?sort=type&direction=asc" class="dropdown-item ">By Type</a>
                <a href="{% url 'individual_services' %}" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-uppercase nav-link text-white mr-5" href="{% url 'individual_services' %}?q=INDIVIDUAL" id="individual-packs-link">
                Individual
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="individual-packs-link">
                <a href="{% url 'individual_services' %}?q=INDIVIDUAL" class="dropdown-item">Private Lesson Packs</a>
                <!-- <a href="{% url 'individual_services' %}?type=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'individual_services' %}?type=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'individual_services' %}?type=activewear,essentials,jeans,shirts" class="dropdown-item">All Clothing</a> -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-uppercase nav-link text-white mr-5" href="#" id="individuals-groups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Groups
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="individuals-groups-link">
                <a href="{% url 'individual_services' %}?q=GROUP" class="dropdown-item">Reduced Groups</a>
                <!-- <a href="{% url 'individual_services' %}?type=kitchen_dining" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="{% url 'individual_services' %}?type=bed_bath,kitchen_dining" class="dropdown-item">All Homeware</a> -->
            </div>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                On-demmand
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'individual_services' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'individual_services' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'individual_services' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'individual_services' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li> -->
    </ul>
</div>